<template>
	<div>
    <div v-if="localFriendshipStatus === 'pending'">
      <span>{{ sender.name }} te ha enviado una solicitud de amistad</span>
      <button 
        dusk="btn-accept-friendship"
        @click="acceptRequestFriendship()">
        Aceptar Solicitud
      </button>

      <button 
        dusk="btn-deny-friendship"
        @click="denyRequestFriendship()">
        Denegar Solicitud
      </button>
    </div>

    <span v-else-if="localFriendshipStatus === 'accepted'">
      Tu y <b>{{ sender.name }}</b> ya son amigos
    </span>

    <span v-else-if="localFriendshipStatus === 'denied'">
      solicitud denegada a <b>{{ sender.name }}</b> 
    </span> 

    <div v-if="localFriendshipStatus === 'deleted'" >solicitud eliminada</div>
    <button 
      v-else 
      dusk="btn-delete-friendship"
      @click="deleteFriendship()" >Eliminar</button>
  </div>

</template>

<script>
export default {

 	props:{
 		sender:{
 			type: Object,
 			required: true
 		},

 		friendshipsStatus:{
 			type: String,
 			required: true
 		}
 	},

  data () {
    return {
    	localFriendshipStatus: this.friendshipsStatus
    }
  },

  methods:{
  	acceptRequestFriendship(){
  		axios.post(`/accept-friendships/${this.sender.name}`)
  			.then((res)=>{
  				this.localFriendshipStatus = res.data.friendship_status
  			})
  			.catch((err)=>{
  				console.log(err.response.data);
  			})
  	},

    denyRequestFriendship(){
      axios.delete(`/accept-friendships/${this.sender.name}`)
        .then((res)=>{
          this.localFriendshipStatus = res.data.friendship_status
        })
        .catch((err)=>{
          console.log(err.response.data);
        })
    },

    deleteFriendship(){
      axios.delete(`/friendships/${this.sender.name}`)
        .then((res)=>{
          this.localFriendshipStatus = res.data.friendship_status
        })
        .catch((err)=>{
          console.log(err.response.data);
        })
    }
  }


}
</script>

<style lang="css" scoped>
</style>