<template>
	<button
		@click="toggle()"
		:class="getBtnClass "
		>
		<i :class="getIconClass"></i>
		{{ getText }}	
	</button>
</template>

<script>
export default {

  name: 'ButtonLike',
  props: {
		model: {
			type: Object,
			required: true
		},
		url: {
			type: String,
			required: true
		}
	},

  data () {
    return {

    }
  },

  computed: {

  	getText(){
  		return this.model.is_liked ? 'TE GUSTA' : 'ME GUSTA'
  	},

  	getBtnClass(){
  		return [
  			this.model.is_liked ? 'font-weight-bold' : '',
  			'btn btn-link btn-sm p2'
  		]
  	},

  	getIconClass(){
  		return [
  			this.model.is_liked ? 'far' : 'fa',
  			'fa-thumbs-up text-primary mr-1'
  		]
  	}
  },

  methods: {

  	toggle(){
  		let method = this.model.is_liked ? 'delete' : 'post'

  		axios[method](this.url)
  			.then((res)=>{
  				this.model.is_liked = ! this.model.is_liked

  				if (method === 'post') {
  					this.model.likes_count ++
  				}else{
  					this.model.likes_count --
  				}
  				
  			})
  	},
  }
}
</script>

<style lang="css" scoped>
</style>