<template>
	<button
		@click="toggleFriendshipStatus()"
		class="btn btn-primary btn-block">
			{{ getText }}
	</button>
</template>

<script>
export default {
	props: {
		recipient: {
			type: Object,
			required: true
		},
    friendshipStatus : {
      type: String,
      required: true
    }
	},

  data () {
    return {
    	localFriendshipStatus : this.friendshipStatus
    }
  },

  computed: {
    getText(){
      if (this.localFriendshipStatus === 'pending') {
        return 'cancelar solicitud'
      }

      if (this.localFriendshipStatus === 'accepted') {
        return 'Eliminar de mis amigos'
      }

      if (this.localFriendshipStatus === 'denied') {
        return 'solicitud denegada'
      }

      return 'solicitar amistad'
    }
  },

  methods:{
  	toggleFriendshipStatus(){
  	  let method = this.getMethod()
  		axios[method](`/friendships/${this.recipient.name}`)
  			.then((res)=>{
  				this.localFriendshipStatus = res.data.friendship_status
  			})
  			.catch((err)=>{
  				console.log(err.response.data);
  			})
  	},

    getMethod(){
      if (this.localFriendshipStatus === 'pending' || this.localFriendshipStatus === 'accepted') {
        return 'delete'
      }

      return 'post'
    }
  }
}
</script>

<style lang="css" scoped>
</style>