<template>
	<div @click="redirectIfGuest()" class="container-statuses">

		<StatusListItem 
			v-for="status in statuses"
			:status="status"
			:key="status.id"
		/>
	</div>
</template>

<script>

import StatusListItem from './StatusListItem'
export default {

	props: {
		url:{
			type: String
		}
	},
	components:{StatusListItem},

	mounted(){
		EventBus.$on('add-status-new', ()=> this.getAllStatuses() )

		this.getAllStatuses()
	},

  data () {
    return {
    	statuses: []
    }
  },

  computed: {
  	getUrl(){
  		return this.url ? this.url : '/statuses'
  	}
  },

  methods: {
  	getAllStatuses(){
  		axios.get(this.getUrl)
			.then((res)=>{
				this.statuses = res.data.data
			})
			.catch((err)=>{
				console.log(err.response);
			})
  	},

  }
}
</script>

<style lang="scss" scoped>
	
</style>