<template>
	<div class="status card  shadow-sm my-2">
		<!-- Card body -->
		<div class="card-body ">
			<div class="d-flex align-items-center mb-2">
				<div class="status__container-img mr-3">
					<img  class="status__img rounded border border-secondary shadow-sm" :src="status.user.avatar">
				</div>
				<div>
					<h5 class="mb-0" >
						<a 
							target="_blank" 
							:href="status.user.link"
							v-text="status.user.name">
						</a>
					</h5>
					<p class="small text-muted mb-0" v-text="status.ago"></p>
				</div>
			</div>
			<!-- status body -->
			<p class="card-text text-secondary" v-text="status.body"></p>

		</div>
		
		<!-- Card Footer -->
		<div class="card-footer d-flex align-items-center justify-content-between">
			
			<!-- likes -->
			<ButtonLike
				dusk="btn-like"
				:url="`/statuses/${status.id}/likes`"
				:model="status" 
				/>

			<span dusk="likes-count">
				<i class="far fa-thumbs-up mr-1 text-secondary"></i>
				{{ status.likes_count }} 
			</span>
		</div>
		
		<!-- comments -->
		<div class="card-footer">		
			<div class="d-flex flex-column ">
				<template
					v-if="comments.length > 0"
					>
					<div 
						v-for="comment in comments"
						class="d-flex mb-2 flex-column align-items-center">
						
						<div class="container-comment-user d-flex w-100">
							<img 
							:src="comment.user.avatar"
							class="mr-1 status__img rounded shadow-sm">

							<div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
								<div 
									class="card p-2 border-0 shadow-sm d-flex my-1 flex-row w-100" 
									>
									<a 
										target="_blank"
										:href="comment.user.link"
										class="mr-1" >
										<strong>{{ comment.user.name }}</strong>
									</a>
									<span>{{ comment.body }}</span>
								</div><!-- ./comment -->
								
								<!-- likes -->
								<div class="container-likes d-flex justify-content-between w-100">
									<ButtonLike
										dusk="btn-like-comment"
										:url="`/comments/${comment.id}/likes`"
										:model="comment" 
										class="button-like"
									/>

									<span 
										class="badge badge-pill badge-primary u__badge" 
										dusk="comment-likes-count">
										<i class="fa fa-thumbs-up"></i>
										{{ comment.likes_count }} 
									</span>
								</div><!-- ./container-likes -->

							</div>
						</div><!-- ./container-comment-user -->

					</div><!-- ./end for -->
				</template>
				
				<!-- Add Comment -->
				<form 
					@submit.prevent="addComment()"
					class="d-flex align-items-center">
						<img 
							src="http://red-social.test/img/sonreir.png"
							class="mr-1 status__img rounded shadow-sm">

						<div class="input-group">
							<textarea
								v-model="newComment"
								name="comment" 
								rows="1"
								class="form-control"></textarea>
						
							<div class="input-group-append">
								<button 
									dusk="btn-comment"
									class="btn btn-success">
									Comment
								</button>
							</div>
						</div>
				</form><!-- ./Add Comment -->
			</div><!-- ./comments -->
		</div><!-- ./Card Footer -->	
	</div><!-- ./Status -->
</template>

<script>
import ButtonLike from './ButtonLike'
export default {

	props: {
		status: {
			type: Object,
			required: true
		}
	},
	components: {ButtonLike},

    name: 'StatusListItem',

	data () {
	    return {
	    	newComment: '',
	    	comments: this.status.comments
	    }
	},

	methods: {
		addComment(){
			console.log('comment: ', this.newComment);
			axios.post(`/statuses/${this.status.id}/comments`, {body: this.newComment})
				.then((res)=>{
					this.newComment = ''
					this.comments.push(res.data.data)
				})
				.catch((err)=>{
          console.log(err.response.data);
        })
		}
	}
}
</script>

<style lang="scss" scoped>
	.status{
		border: 0 !important;

		&__img{
			width: 40px;
			height: 40px;
		}
	}

	.u__badge{
		display: flex;
    align-items: center;
    height: 18px;
	}

	.button-like{
		font-size: .6rem;

		i {
			color: red;
			display: none !important;
		}
	}

</style>