<template>
    <div class="container">
        <form  
            v-if="isAuthenticated"
            @submit.prevent="submit()" 
            class="py-2">
            <div class="card-body">
                <textarea 
                    v-model="body"
                    name="body" 
                    class="border-0 form-control " 
                    :placeholder="`En que estas pensando ${currentUser.name}?`"></textarea>
            </div>
            <div class="border-top-0">
               <button 
                    id="create-status" 
                    class="btn btn-primary btn-block">
                    Publicar
                </button> 
            </div> 
        </form>
        <div 
            v-else
            class="card border-0 p-2 text-center shadow-sm">
            <a href="/login">Debes hacer Login</a>
            
        </div>

    </div>
</template>

<script>

    export default {
        mounted(){
            /*console.log('auth:', this.isAuthenticated);
            console.log('user:', this.currentUser);*/
        },
        
        data(){
            return {
                body: '',
            }
        },

        methods: {

            submit(){
                axios.post('/statuses', {body: this.body})
                    .then((res)=>{
                        EventBus.$emit('add-status-new')
                        this.body = ''
                    })
                    .catch((err)=>{
                        console.log(err.response.data);
                    })
            }
        }
    }
</script>
